{% extends "layout.html" %}

{% set bodyId = "page-ideias" %}

{% block title %}
    <title>Início - Casa Criativa</title>
{% endblock %}

{% block content %}
<header>
    <a href="/">
        <img src="/img/logo.png" alt="Imagem da Logomarca">
    </a>
    <nav>
        <li><a href="/">Início</a></li>
        <li><a class="button" href="#" onclick="onOff()">Nova Ideia</a></li>
    </nav>
</header>
<section id="title">
    <p>em exibição</p>
    <h1>Ideias</h1>
</section>
<main>
    <section id="ideias">
        {% include "all_ideias.html" %}
    </section>
</main>
<footer>
    Com ❤️ <a href="https://www.github.com/joaoqsl" target="_blank">João Paulo</a>  
</footer>
{% endblock %}